
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h1>Footer</h1>
        <style>

                    Footer {
                        background-image: url('/images/background.jpg');  
                      border:1px solid black;
                    }
                    </style>
        <h3>Explore our site</h3>
        <ul>
          <li><a href="#">List your property</a></li>
          <li><a href="#">Book with confidence</a></li>
          <li><a href="#">Vacation rental guides</a></li>
          <li><a href="#">Discovery Hub</a></li>
        </ul>
        <h3>Explore our site</h3>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Media center</a></li>
          <li><a href="#">Affilites</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="social-links">
          <ul>
            <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="copyright">
          By submitting this assignment I declare that this assignment is my own work in accordance with the Seneca Academic Policy. No part of this assignment has been copied manually or electronically from any other source (including web sites) or distributed to other students.
          © Devashish Bharatbhai Khanwani, dkhanwani@myseneca.ca, WEB322 Winter 2023
        </div>
      </div>
    </div>
  </div>
</footer>