<!DOCTYPE html>
<html>
    <head>
        <title>
            Web-Server Assignment-1
        </title>
        <link rel="stylesheet" href="/css/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {{>navbar}}
        {{{body}}}
        {{>footer}}
        <script src = "group-rentals/index.js" type = "module">
            
        </script>
    </body>
    </html>